body {
  margin: 20;
  padding: 20;
  text-align: left;
  font-family: Optima, sans-serif;
  color: white;
  background-color:  #21211F;
  

}

ul {
  list-style-type: none;
}


h1 {
  font-size: 25px;
  margin: 10px;
}


#list {
  list-style-type: none;

}

.solidBorder {
  border: solid;
  color:rgba(255,182,185,1);
  background-color: #FCFCFC;
  padding: 30px;

}

.icons {
  overflow: hidden;
  position: sticky;
  font-weight: 700;
  list-style-type: none;
  margin: 10px;
  color: #21211F;
}

 .icons a {
  float: right;
  color: #21211F;
  text-align: right;
  padding: 5px 20px;
  text-decoration: none;
  border: solid orange;
  border-radius: 6px;
  margin: 15px;
}

.icons a:hover {
color: orange;
}

.center {
   color: orange;
   font-size: 40px;
   text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
  font-size: 25px;
  margin: 10px;
  color: orange;
}


.nameTag {
  position: absolute;
  right: 318px;
  list-style-type: none;
  font-size: 75px;
  margin-top: 180px;
  font-family: Optima, sans-serif;
  color:rgba(255,182,185,1);
}

#lastName {
  margin-left: 12px;
}


.backgroundSplit1 {
  background-color: #FCFCFC;

}

.studentTag {
 color: rgb(255, 148, 77);
 font-size: 15px;
 margin: 15px;
 padding-bottom: 70px;
}



.headers {
  color: red;
}


.main-image {
 height:500px;
 margin-left: 550px;
 margin-top: 80px;
 border: solid;
color:orange;

}

.mexicoImage {
height: 350px;
padding: 30px;
margin-left: 90px;

}
.projectImg {
 height: 350px;
 padding: 30px;
 margin-left: 90px;
 width: 350px;
}

#authorName {
  margin: 15px;
}

.container {
  width:50%;
  margin-top: 2%;
  text-align: center;
  background-color: rgba(255,182,185,1);
  margin-left: 560px;
}

.container2 {
  width:50%;
  margin-top: 2%;
  background-color: rgba(255,182,185,1);
  margin-left: 180px;

}

th{
  padding: 10px;
}

#weatherPic {
  width: 40px;
  height: auto;
}


.display2 {
 padding: 5px;
 font-size:20px;
 color:lightblue;
color:white;
  }

#search {
  color: orange;
  border-style: none;
}

#info {
  text-align: center;
}

.question4 {
  color:orange;
  background-color: #22211f;
}





