body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #2F4F4F;
  background: #FA8072;
}

a {
  text-decoration: none;
  color: #2F4F4F;
}
p {
  padding:55px;
  color:#FFDAB9;
}
.main-icons {
  width: 100%;
  background: #FFDAB9;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: 200px;
}

footer ul li {
  display: inline;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer {
    font-size: 12px;
    max-width: 1200px;
    margin: 40px auto;
  }